<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/element.css" />
    <link rel="stylesheet" type="text/css" href="css/global.css"/>
    <script src="js/jquery-3.6.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/element.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/element.css"/>
    <link rel="stylesheet" type="text/css" href="/css/global.css"/>
    <script src="/js/jquery-3.6.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/element.js" type="text/javascript" charset="utf-8"></script>
    <title>最新文章列表</title>
    <style type="text/css">

			#articleapp .title {
				font-size: 24px;
				color: black;
				margin-bottom: 5px;
			}

			#articleapp .article {
				margin-bottom: 10px;
			}

			#articleapp .detail{
			    color: red;
			}

			#articleapp .author {
				/* font-weight: bold; */
				font-size: 18px;
				text-align: center;
				line-height: 50px;
			}

			#articleapp .time {
				font-size: 18px;
				text-align: center;
				line-height: 50px;
			}


    </style>
</head>
<body th:object="${article}">
<div class="container">
    <h1 class="page-header text-center" th:text="*{title}">文章标题</h1>
    <div style="height: 30px;"></div>
    <div class="container" id="articleapp">
        <el-row :gutter="20" type="flex" class="article" v-for="article in articleList" th:text="*{content}">

        </el-row>
    </div>
</div>

<script type="text/javascript">

</script>

</body>
</html>
